body {

    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.menu__bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menus {

    display: flex;
    align-items: center;
    gap: 15px;
}

.menus i:hover {

    cursor: pointer;
    transform: scale(1.2);
}

.icons {

    display: flex;
    align-items: center;
    gap: 15px;
}

.icons i:hover {

    cursor: pointer;
    transform: scale(1.2);
}

.audit__image {
    width: 100%;
    height: 420px;
    background-image: url("Audit\ Module\ Image.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.hidden {

    display: none;
}

#dashboard__menus {

    position: relative;
    /* or sticky if you need it to stay visible while scrolling */
    background-color: #1C2A43;
    width: 260px;
    height: 150%;
    /* grows with content */
    transition: all 0.3s ease-in-out;
}

.left__menu {

    display: flex;
    align-items: center;
    gap: 15px;
}

.left__menu i:hover,
h4:hover,
.switcher__img {

    cursor: pointer;
    transform: scale(1.2);
}

.audit__sub__menu_1,
.risk__sub__menu1,
.control__sub__menu1,
.report__sub__menu1 {
    padding-left: 30px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.audit__sub__menu_1,
.risk__sub__menu1,
.control__sub__menu1,
.report__sub__menu1 {
    display: none;
    /* hidden initially */
}

.audit__sub__menu_1.active,
.risk__sub__menu1.active,
.control__sub__menu1.active,
.report__sub__menu1.active {
    display: flex;
    transform: translateY(5px);
}

.audit__sub__menu_1 a .risk__sub__menu1 a,
.control__sub__menu1 a,
.report__sub__menu1 a {

    font-size: 16px;
}

.audit__sub__menu_1 a:hover,
.risk__sub__menu1 a:hover,
.control__sub__menu1 a:hover,
.report__sub__menu1 a:hover {

    cursor: pointer;
    transform: scale(1.1);
}

.fa-solid fa-angle-down {

    display: none;
}

.audit__calendar {

    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.audit__calendar__icons {

    display: flex;
    align-items: center;
    gap: 15px;
}

.audit__calendar__icons i:hover {

    cursor: pointer;
    transform: scale(1.2);
}

.audit__calendar__image {

    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.sidebar {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;
    height: 130vh;
}

li {

    color: white;
}